* {
  font-family: poppings, sans-serif;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
  list-style-type: none;
}

.burger {
  image-rendering: pixelated;
  margin: 10px 40px 0 0;
  scale: 1.2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: fit-content;
  min-width: 375px;
}

.myLogo {
  font-size: 18px;
  line-height: 30%;
  color: #6070ff;
  text-decoration: none;
  width: 30vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 4vw;
}

.navigator {
  display: inline;
}

.sectionOne {
  background: url(Assests/header-shapes\ mobile.svg);
  background-repeat: no-repeat;
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
  padding-right: 3vw;
  margin-bottom: 15vh;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.medium {
  margin-top: 4px;
}

.icons > * {
  padding: 15px;
  align-items: baseline;
}

.introTitle {
  font-size: 2.5rem;
  padding-top: 128px;
  color: #172b4d;
}

.textIntro {
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  line-height: 120%;
}

.connect {
  font-size: 16px;
  line-height: 100%;
  color: #7f8cff;
  left: 3vw;
  height: fit-content;
  margin: 0;
  padding-top: 3%;
}

.twitter {
  padding-left: 0;
}

.worksSection {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 60vh 60vh 60vh 60vh 5vh;
  row-gap: 10vh;
  padding-top: 8vh;
}

.firstCard {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.space {
  background: #e5e5e5;
  padding-top: 15vh;
}

.snapshot {
  background: url(Assests/Snapshoot\ Portfolio.svg);
  display: flex;
  margin-top: 5%;
  width: 295px;
  height: 220px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tonic {
  color: #172b4d;
  font-size: 32px;
  line-height: 44px;
  margin: 1vh 0 0 5%;
}

.canopyList {
  margin: 3% 0 5% 5%;
  padding: 0;
}

.canopyList > * {
  display: inline;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-right: 2vw;
}

.canopy {
  color: #344563;
}

.description {
  margin: 0 0 0 5%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.works {
  margin: 5% 0 5% 0;
  display: flex;
}

.htmlButton {
  background: url(Assests/Taghtml.svg);
  margin-left: 5%;
  width: 57px;
}

.buttons {
  float: left;
  height: 25px;
  border-style: none;
}

.cssButton {
  background: url(Assests/Tagcss.svg);
  width: 49px;
  margin-left: 2vw;
}

.jsButton {
  background: url(Assests/Tagjs.svg);
  width: 92px;
  margin-left: 2vw;
}

.seeProject {
  background-color: #fff;
  align-self: flex-start;
  width: 126px;
  height: 48px;
  margin: 0 0 3% 5%;
  border-radius: 10px;
  border: solid #7f8cff thin;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.seeProject:hover {
  background-color: #6070ff;
  color: #fff;
}

.seeProject:active {
  background-color: #2230d2;
  color: #fff;
}

.snapshotTwo {
  background: url(Assests/Snapshoot\ Portfolioavailability.svg);
  display: flex;
  margin-top: 5%;
  width: 295px;
  height: 220px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.stories {
  color: #172b4d;
  font-size: 32px;
  line-height: 44px;
  margin: 1vh 0 0 5%;
}

.snapshotThree {
  background: url(Assests/Snapshoot\ Portfolioport.svg);
  display: flex;
  margin-top: 5%;
  width: 295px;
  height: 220px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.snapshotFourth {
  background: url(Assests/Snapshoot\ Portfoliofourth.svg);
  display: flex;
  margin-top: 5%;
  width: 295px;
  height: 220px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.lastCard {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.aboutMe {
  background-color: #e5e5e5;
}

.introTwo {
  margin: 10vh 0 0 0;
  padding: 0;
}

.background {
  display: flex;
  height: 85vh;
  flex-direction: column;
  padding-left: 4vw;
  padding-right: 3vw;
  border-top-right-radius: 70px;
  background-color: #fff;
}

.secondButton {
  background-color: #fff;
  align-self: flex-start;
  width: 162px;
  height: 48px;
  border-radius: 8px;
  border: solid #7f8cff thin;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  gap: 10px;
}

.subIcons {
  margin-bottom: 0;
}

.gitHub {
  padding-left: 0;
}

.bird {
  padding: 15px;
}

.secondButton:hover {
  background-color: #6070ff;
  color: #fff;
}

.secondButton:active {
  background-color: #2230d2;
  color: #fff;
}

.abilities {
  margin-top: 2vh;
  padding-left: 5%;
}

.languages {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding: 2vh 0 2vh 0;
}

.subLanguages {
  padding: 2vh 0 0 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.iconw {
  display: flex;
  align-items: center;
  margin-top: 1.5vh;
  background-color: #f7f7f9;
  border-radius: 5px;
  height: 8vh;
  width: 85vw;
}

.image { margin: 0 2vw 0 2vw; }

.droplet {
  width: 6px;
  height: 6px;
  scale: 1.8;
  float: right;
  margin-right: 30px;
}

.textOne { display: inline; }

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("Assests/contact/contact\ form\ shapes-mobilecont.svg"), url("Assests/contact/Contact\ mecont.svg");
  background-repeat: no-repeat;
  background-size: auto auto, cover;
  margin-top: 26vh;
  padding-top: 13vh;
  height: auto;
  background-position: right top 5vh, left top;
}

.contactTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin: 0;
}

.contactText {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 0 10vw 0 10vw;
  text-align: center;
  color: #ebebff;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 2vh 0 15vh 0;
  width: 75vw;
  min-width: 250px;
  max-width: 370px;
}

.buttonC {
  background-color: #fff;
  width: 162px;
  height: 48px;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 2vh;
  padding: 12px;
  gap: 10px;
}

.email1,
.name1 {
  margin-top: 2vh;
  border: solid #7f8cff thin;
  height: 48px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.message {
  margin-top: 2vh;
  min-height: 170px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.email1::placeholder {
  color: #172b4d;
  padding-left: 8px;
  opacity: 80%;
}

.name1::placeholder {
  color: #172b4d;
  padding-left: 8px;
  opacity: 80%;
}

.message::placeholder {
  padding: 5px 0 0 8px;
  color: #b3bac5;
  opacity: 80%;
}

.buttonC:hover {
  background-color: #6070ff;
  color: #fff;
}

.buttonC:active {
  background-color: #2230d2;
  color: #fff;
}

.buttonMenu { display: none; }

.mobile2 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.desk2 {
  display: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.titles {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.subtitles {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.face {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.fulls {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.mess {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .void { margin: 1vh 10vw 0 10vw; }

  .myLogo { padding-left: 7vw; }

  .introTitle { margin-top: 20vh; }

  .navbar {
    position: fixed;
    background: #fff;
    width: 100vw;
    z-index: 10;
    padding: 20px 0 20px 50px;
  }

  .spaces { width: 10vw; }

  .buttonMenu { display: flex; }

  .navigator { opacity: 0; }

  .dButton2 { margin-right: 30px; }

  .buttonsA {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .firstCard {
    flex-direction: row;
    align-items: center;
    height: 45vh;
  }

  .snapshots {
    width: 35vw;
    background-size: 100% 100%;
    margin: 2vh;
    align-self: flex-start;
    height: 35vh;
    background-repeat: no-repeat;
  }

  .section2 {
    margin-top: 3vh;
    align-self: flex-start;
    width: 48vw;
  }

  .worksSection { grid-template-rows: 50vh 50vh 50vh 50vh 5vh; }

  .snapshot {
    background: url(Assests/Snapshoot\ Portfolionature.svg) no-repeat;
    background-size: 100% 100%;
  }

  .snapshotTwo {
    order: 2;
    background: url(Assests/Snapshoot\ Portfolioart.svg) no-repeat;
    background-size: 100% 100%;
  }

  .desk2 { display: inline; }

  .mobile2 { display: none; }

  .description { width: 40vw; }

  .rubyButton {
    background: url(Assests/Tag.svg);
    margin-left: 5%;
    width: 100px;
  }

  .snapshotThree {
    background: url(Assests/Snapshoot\ Portfolio.svg) no-repeat;
    background-size: 100% 100%;
  }

  .lastCard {
    flex-direction: row;
    align-items: center;
    height: 45vh;
  }

  .snapshotFourth {
    order: 3;
    background: url(Assests/Snapshoot\ Portfolioava.png) no-repeat;
    background-size: contain;
  }

  .about1 {
    float: left;
    display: inline;
    width: 46vw;
    margin-right: 4vw;
  }

  .about2 {
    float: right;
    display: inline;
    width: 40vw;
  }

  .iconw {
    width: 10vw;
    height: 12vh;
    flex-direction: column;
    padding: 1vh;
    align-items: flex-start;
    margin-right: 2vw;
  }

  .image {
    margin: 0;
    padding-bottom: 10px;
  }

  .background {
    align-items: center;
    justify-content: center;
  }

  .introTwo { margin: 0; }

  .contactForm { margin-top: 10vh; }

  .subLanguages { display: flex; }

  .abilities { padding: 0; }
}

@media screen and (min-width: 1100px) { .snapshotFourth { margin-left: 15vw; } }
