* {
  font-family: poppings, sans-serif;
  font-weight: 700;
  font-style: normal;
  box-sizing: border-box;
}

.burger {
  image-rendering: pixelated;
  margin: 10px 20px 0 0;
  width: 8%;
  height: 10%;
  max-height: 50px;
  min-width: 20px;
  min-height: 30px;
  max-width: 50px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  min-height: 100vh;
}

.myLogo {
  font-size: 200%;
  line-height: 30%;
  color: #6070ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-height: 60px;
  margin-top: 10px;
  padding-left: 4vw;
}

.sectionOne {
  background: url(Assests/header-shapes\ mobile.svg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
}

.icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  padding-top: 5%;
}

.medium {
  margin-top: 4px;
}

.icons > * {
  padding: 2%;
  align-items: baseline;
}

.introTitle {
  font-size: 2.5rem;
  padding-top: 5%;
}

.textIntro {
  font-size: 25px;
  font-weight: 400;
  color: #344563;
  line-height: 120%;
  padding-top: 5%;
}

.connect {
  font-size: 30px;
  line-height: 100%;
  color: #7f8cff;
  line-height: 24px;
  left: 3vw;
  padding-top: 5%;
}

.twitter {
  padding-left: 0;
}
